<div class="header">
    <h1 style="text-align: center;">{{moduleTitle}}</h1>
    <div class="button-group">
        <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'mat']"  routerLinkActive="active">
            <button class="nav-btn">Learning Material</button>
        </a>
        <!-- <a [routerLink]="[ '/main/Subject/main/subject/modulesmain/:id/modules/assess']"  routerLinkActive="active"> -->
            <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'assess']"  routerLinkActive="active">
            <button class="nav-btn">Assessment</button>
        </a>
        <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'discuss']"  routerLinkActive="active">
            <button class="nav-btn">Discussion</button>
        </a>
    </div>
 
    <div class="notification-icon">
        <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'addmat']" routerLinkActive="active">
            <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
        </a>
    </div>
</div>

<div class="modules" >
    <div class="module" *ngFor="let lesson of lessons">
        <div class="module-header">
            <div>
                <h5>{{lesson.topic_title}}</h5>
                <p>{{lesson.lesson}}</p>
            </div>

            <div class="dropdown">
                <button (click)="toggleDropdown(lesson)" class="dropbtn">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-content" [ngClass]="{'show': lesson.isDropdownOpen}">
                    <a (click)="updateLesson(lesson.lesson_id)" [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'updateLesson']" >Update</a>                  
                    <a (click)="uploadFile(lesson.lesson_id)" [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'upload']" >Upload</a>                  
                    <a (click)="deleteLesson(lesson.lesson_id)">Delete</a>
                </div>
                
            </div>
        </div>
        <div class="file-link">
            <h6>Download Files</h6>
            <a *ngIf="lesson.file" href="http://localhost:8000/storage/{{lesson.file}}" download>{{ lesson.file }}</a>
            <i *ngIf="lesson.file" (click)="deleteFile(lesson.lesson_id)" class="fa fa-trash fa-1x" aria-hidden="true"></i>

            <!-- Displaying media files line by line -->
            <div *ngIf="lesson.media_files">
                <ng-container *ngFor="let mediaFile of lesson.media_files.split(',')">
                    <!-- <img [src]="'http://localhost:8000/storage/' + mediaFile" alt="" class="card-img-top" style="width: 40px; height: 40px;"> -->
                    <a href="http://localhost:8000/storage/{{mediaFile}}" download>{{mediaFile}}</a>
                    <br>
                </ng-container>
            </div>
            
        </div>
    </div>
</div>
